.stats {
  display: flex;
  margin-top: 1.2em;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.description img {
  border-radius: 50%;
}
.description {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 8%;
  background-color: lightcyan;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 8%;
  background-color: lightcyan;
}
