.friend_list {
  display: flex;
  margin-top: 1.2em;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 8%;
  background-color: lightcyan;
}
.status_red {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: red;
}
.status_green {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: green;
}
